<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${gdc:item=configDir}/internal-nlog.txt">

  <targets>
    <target xsi:type="File" name="allfile" fileName="${gdc:item=configDir}/nlog-all.log"
                layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="File" name="ownFile-web" fileName="${gdc:item=configDir}/nlog-own.log"
             layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}" />

    <target xsi:type="Null" name="blackhole" />

    <target name="database" xsi:type="Database"
              dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySqlConnector"
              connectionString="Server=127.0.0.1;Port=3306;Database=btsdb;Uid=admin;Pwd=0(@apadm@);"
             >

      <!--
CREATE TABLE `log` (
  `Id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Application` varchar(50) DEFAULT NULL,
  `Logged` datetime DEFAULT NULL,
  `Level` varchar(50) DEFAULT NULL,
  `Message` varchar(512) DEFAULT NULL,
  `Logger` varchar(250) DEFAULT NULL,
  `Callsite` varchar(512) DEFAULT NULL,
  `Exception` varchar(512) DEFAULT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;
-->

      <commandText>
        insert into TB_LOG (
        APP, LOG_TIME, LOG_LEVEL, MESSAGE,
        EXCEPTION, LOGGER, CALLSITE
        ) values (
        @APP, @LOG_TIME, @LOG_LEVEL, SUBSTR(@MESSAGE,1,4000),
        SUBSTR(@EXCEPTION,1,4000), SUBSTR(@LOGGER,1,4000), SUBSTR(@CALLSITE,1,4000)
        );
      </commandText>

      <parameter name="@APP" layout="ASPCore.AllThatBTS.Api" />
      <parameter name="@LOG_TIME" layout="${date}" />
      <parameter name="@LOG_LEVEL" layout="${level}" />
      <parameter name="@MESSAGE" layout="${message}" />
      <parameter name="@EXCEPTION" layout="${exception:tostring}" />
      <parameter name="@LOGGER" layout="${logger}" />
      <parameter name="@CALLSITE" layout="${callsite:filename=true}" />
    </target>

  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <logger name="*" minlevel="Trace" writeTo="database" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>
